html,body{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: #717171;
}

.container{   
    max-width: 1000px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subcontainer1{
    background-color: #3E4B53;
    padding: 40px 0px;
    display: grid;
    border-radius: 2px;
   
}

.subcontainer2{
    background-color: #f7f7f7;
    border-radius: 2px;
}

.formulario{
    display: grid;
    align-items: center;
    text-align: center;
}

h1{
    all: unset;
    display: block;
    margin-left: 100px;
    margin-bottom: 40px;
    color: #00A3FF;
    font-weight: bold;
    font-size: 2rem;

}



label{
    margin-bottom: 10px;
    display: block;
    color: #00A3FF;
    font-size: 1.25rem;
}

input{
    border-radius: 4px;
    padding: 10px 20px;
    width: 250px;
    font-size: 1rem;   
}

.usuario_senha{
    display: grid;
    padding: 0px 100px;
    gap: 40px;
}

.usuarioesenha{
    display: grid;
}

.entrar_criar{
    display: grid;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
}

.botao{
    font-size: 1.3rem;
    background-color: #00A3FF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s;

}

.botao:hover{
    background-color: #404040;
}

.subcontainer2{
    display: grid;
    align-items: center;
}

#criar{
    font-size: 1.1rem;
    color: #00A3FF;
}
